{% extends 'base.html.twig' %}

{% block body %}
    
    <button type="button" class="btn btn-primary" onclick="location.href = '{{ url('logout') }}'" style="right: 20px; top: 20px; position: absolute;">
        Logout
    </button>
        
    {% if admin %}
        <button type="button" class="btn btn-primary" onclick="location.href = '{{ url('manage_users') }}'" style="right: 125px; top: 20px; position: absolute;">
            Manage Users
        </button> 
    {% endif %}

    <div class="container">
        <h2>Task Manager</h2>   
        <form action="{{ url('create_task') }}" method="POST">
            <input type="submit" class="btn btn-primary" value="Add Task">
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{task.id}}</td>
                        <td>{{task.name}}</td>
                        <td>{{task.description}}</td>
                        <td>{{task.createdAt|date('d/m/Y')}}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" onclick="location.href = '{{ url('edit_task', {id: task.id}) }}'">
                                <span class="glyphicon glyphicon-pencil"></span> 
                            </button>
                            <button type="button" class="btn btn-default btn-sm" onclick="location.href = '{{ url('delete_task', {id: task.id}) }}'">
                                <span class="glyphicon glyphicon-trash"></span> 
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            
        <h2>Last 3 Tasks Added</h2>  
            <ol>
            {% for task in lasttasks %}
                <li>{{task.name}}</li>
            {% endfor %}
            </ol>
    </div>

    <br/>
    <footer>
        <div class="container">
            Contacto: {{ contact_email }}
        </div>
    </footer>

{% endblock %}

